div.l {
	background-color: orange;
}
div.r {
	background-color: orange;
}
div.t {
	background-color: pink;
}
div.b {
	background-color: pink;
}
div.tlt {
	background-color: red;
}
div.trt {
	background-color: cyan;
}
div.tlc {
	background-color: blue;
}
div.trc {
	background-color: blue;
}

div.tll {
	background-color: yellow;
}
div.trr {
	background-color: yellow;
}

div.bll {
	background-color: green;
}
div.brr {
	background-color: green;
}
div.blc {
	background-color: blue;
}
div.brc {
	background-color: blue;
}


div.blb {
	background-color: red;
}
div.brb {
	background-color: cyan;
}