body {
	font-family: verdana,sans-serif;
}

p {
	text-align: center;
	color: #ffffff;
}
h2 {
	color: #0066dd;
}

img.ff {
	position: relative;
	top: 2px;
	border: 0px none;
	background-color: #ffffff;
}


div.container {
	background-color: green;
	margin: 0 auto;
	width: 50%;		         /*width of box*/
height: 100%;
}

div.container, div.container2 {
	heidght: 100px;	       /*height of box*/
}

div.content {
	heigght: 226px;	/*height of container minus border and padding plus height of divs*/
	background-color: transparent;
	border: 0px solid #000000;
	padding: 0px;
	margin: 0px -10px;
}

div.container2 {
	background-color: yellow;
	margin: 0px 30px;
	padding: 0px 0px;
	position: relative;	
}

div.l {
	width: 20px;
	height: 100%;	
	float: left;
	background-image: url(shadowlr.png);
	background-repeat: repeat-y;
	background-color: blue;
	background-position: 0px 0;
	clear: left;
	position: absolute;	

}
div.r {
	width: 20px;
	height: 100%;	
	float: right;
	background-image: url(shadowlr.png);
	background-repeat: repeat-y;
	background-color: transparent;
	background-position: -20px 0;
	clear: right;	
}
div.t {
	width: 100%;
	height: 20px;	
	background-image: url(shadowtb.png);
	background-repeat: repeat-x;
	background-color: transparent;
	background-position: 0px 0;
	margin: 0px 0px;
	position: absolute;	
	left: 0px;
	top: -20px;	
}
div.b {
	width: 100%;
	height: 20px;	
	background-image: url(shadowtb.png);
	background-repeat: repeat-x;
	background-color: transparent;
	background-position: 0px -20px;
	margin: 0px 0px;	
	position: absolute;	
	left: 0px;
	bottom: -20px;	
}
div.tlt {
	width: 10px;
	height: 20px;	
	float: left;
	background-image: url(shadowlttbb.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0px 0px;
}
div.trt {
	width: 10px;
	height: 20px;	
	float: right;
	background-image: url(shadowrttbb.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0px 0px;
}
div.tlc {
	width: 20px;
	height: 20px;	
	float: left;
	background-image: url(shadowc.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0px 0px;
}
div.trc {
	width: 20px;
	height: 20px;	
	float: right;
	background-image: url(shadowc.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: -20px 0px;
}

div.tll {
	width: 20px;
	height: 10px;	
	float: left;
	background-image: url(shadowtllrr.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0px 0px;
		clear: both;
}
div.trr {
	width: 20px;
	height: 10px;	
	float: right;
	background-image: url(shadowtllrr.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: -20px 0px;
}


div.bll {
	width: 20px;
	height: 10px;	
	float: left;
	background-image: url(shadowbllrr.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0px 0px;
	clear: both;
}
div.brr {
	width: 20px;
	height: 10px;	
	float: right;
	background-image: url(shadowbllrr.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: -20px 0px;
}
div.blc {
	width: 20px;
	height: 20px;	
	float: left;
	background-image: url(shadowc.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0px -20px;
}
div.brc {
	width: 20px;
	height: 20px;	
	float: right;
	background-image: url(shadowc.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: -20px -20px;

}


div.blb {
	width: 10px;
	height: 20px;	
	float: left;
	background-image: url(shadowlttbb.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0px -20px;
}
div.brb {
	width: 10px;
	height: 20px;	
	float: right;
	background-image: url(shadowrttbb.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0px -20px;
}



div.clear {
	clear: both;
}

.google_bottom {
	margin-top: 12em;
}

.center {
	text-align: center;
}
